/*!
 * bootScore custom styles
 */

/* lexend-deca-200 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/lexend-deca-v17-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/lexend-deca-v17-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/lexend-deca-v17-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/lexend-deca-v17-latin-200.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/lexend-deca-v17-latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/lexend-deca-v17-latin-200.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend-deca-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/lexend-deca-v17-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-600 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/lexend-deca-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), url('../fonts/lexend-deca-v17-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/lexend-deca-v17-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/lexend-deca-v17-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/lexend-deca-v17-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/lexend-deca-v17-latin-600.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}

:root {
  scroll-behavior: auto;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
  max-width: 100%;
  overflow-x: hidden;
}

// Navigation
.bg-dark {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.nav-link {
  text-transform: uppercase;
}

.btn-close {
  color: #fff !important;
  width: auto !important;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #02498e;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #02498e;
}

// Text
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.display-1,
.display-1 a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.light {
  color: black;
  text-align: center;
  padding-bottom: 15px;
}

.lead {
  font-weight: 600;
}

* {
  text-decoration: none;
}
.typewrite {
  color: #02498e;
}

// Hero Banner
.main-header {
  background: linear-gradient(
    89.95deg,
    rgba(0, 0, 0, 0) 0.03%,
    #000000 49.13%,
    rgba(0, 0, 0, 0) 99.95%
  );
  text-align: center;
  padding: 1.5rem 0;
}

.hero-banner {
  min-height: 75vh;
  background-size: cover !important;
}

// Featured Artists Carousel
.owl-carousel button.owl-dot {
  border-radius: 0px !important;
}

.owl-carousel button.owl-dot.active span {
  background: #02498e !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 60px !important;
  height: 5px !important;
  background: #e6e6e6 !important;
}

.owl-nav {
  display: none;
}

// What We Do
.section-2 {
  background: linear-gradient(180deg, rgba(21, 21, 21, 0.8) 0%, #151515 100%),
    url('../img/background-light.jpg');
  background-size: cover;
  background-position: center;
  padding: 7rem 1rem 3rem !important;
}

.card.service {
  transition: 0.2s ease-in;
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0;
  border-radius: 0;
}

.card.service:hover {
  padding-top: 0;
  transition: 0.2s ease-in;
}

.card-body.service {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #000000 100%);
  transition: background-image 0.25s 0.25s;
}

.card-body.service:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000000 100%);
  transition: background-image 0.25s 0.25s;
}

.card.service .list {
  max-height: 0px;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity 0.25s, font-size 0.5s 0.25s, margin 0.5s 0.25s, padding 0.5s 0.25s;
}
.card.service:hover .list {
  max-height: 100%;
  font-size: 0.9rem;
  opacity: 1;
  transition: font-size 0.25s, margin 0.25s, padding 0.25s, opacity 0.5s 0.25s;
}

// Our Work

.section-3 {
  background: #151515;
  padding: 7rem 1rem 3rem !important;
}

.artist-group {
  max-height: 456px;
  overflow-y: scroll;
}

.artist-item {
  background: #151515;
  padding: 0;
  border: 0;
  border-radius: 0;
  transition: background 0.25s ease-out;
}

.artist-item:hover,
.artist-item:active {
  background: #023a72;
  border: 0;
  border-radius: 0;
  transition: background 0.25s ease-out;
}

.artist-name {
  border-bottom: 1px #4b4b4b solid;
  color: #fff;
  margin: 0;
  padding: 1rem 2rem;
}

// Our Team

.section-4 {
  padding: 7rem 1rem 3rem !important;
  background: url('../img/background.jpg'), rgba(21, 21, 21, 0.75);
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn, normal;
}

.lead.upper {
  text-transform: uppercase;
}

.team-photo {
  border-radius: 100px;
  height: 170px;
  width: 170px;
  overflow: hidden;
  padding: 0;
}
.profile-pic {
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 170px;
  transition: all 0.25s ease-in-out;
}

.team-photo .profile-pic:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}

.team-member {
  border: 0;
  border-radius: 0px;
  background: transparent;
}

.team-info {
  background: transparent;
}

// Contact Us

.section-5 {
  background: #151515;
  padding: 7rem 1rem 3rem !important;
}

.contact-primary {
  background: white !important;
  border: 4px solid #02498e !important;
  border-radius: 50px !important;
  color: #02498e !important;
  font-size: 1.2em !important;
  padding: 16px 50px !important;
  transition: all 0.25s ease-in;
}

div.wpforms-container-full {
  margin: 0 auto !important;
}

.contact-primary:hover {
  background: #02498e !important;
  color: #fff !important;
  transition: all 0.25s ease-in;
}

// CTA BANNER

.call-to-action {
  background: linear-gradient(0deg, #02498e, #02498e), linear-gradient(0deg, #000000, #000000),
    url(../img/cta-bg.jpg), #000000;
  background-blend-mode: hard-light, color, normal, normal;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 2rem 1rem;
}

// FOOTER

.logo-footer {
  width: 170px;
}

// MEDIA QUERIES

@include media-breakpoint-down(lg) {
  .navbar-brand {
    width: 125px;
  }
}

@include media-breakpoint-down(md) {
  .navbar-brand {
    width: 100px !important;
  }

  .section-2,
  .section-3,
  .section-4,
  .section-5 {
    padding: 7rem 2rem 3rem !important;
  }
}

@include media-breakpoint-down(sm) {
  .main-header {
    padding: 1.25rem;
  }
  .work-description {
    padding-bottom: 2rem;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
  }

  .logo-footer {
    margin-bottom: 2rem;
  }
}
