// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// COLOURS
$blue:		#02498E;
$white:		#fff;
$black:		#000;
$primary: 	$blue;

$font-sans-serif: 'Lexend Deca', sans-serif;
$body-font-family: 'Lexend Deca', sans-serif;


$body-color: #fff;
$body-bg: #000;

// BUTTONS


// NAVIGATION
$navbar-nav-link-padding-x:         1rem;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $primary;
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-dark-brand-color:                 $navbar-dark-active-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color;

$navbar-toggler-border-radius:      0;
$offcanvas-border-color:            none;
$offcanvas-border-width:           	0;
$offcanvas-bg-color:                $black;
$offcanvas-color:                   $white;