// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

$dark-rgb: 0, 0, 0;
$bs-dark: #000;

$blue: #02498E;
$primary: #02498E;

$font-sans-serif: 'Lexend Deca', sans-serif;
$body-font-family: 'Lexend Deca', sans-serif;


$body-color: #fff;
$body-bg: #000;